<%= render partial: 'shared/error_messages_for', locals: { object: @kudo } %>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <%= form_for(Kudo.new, url: kudos_path, remote: true) do |f| %>
          <%= f.select :recipient_id, User.select(:username, :id).all.collect { |p| [ p.username, p.id ] }, include_blank: true %>
          <div class="input-group">
            <%= f.text_field :message, autofocus: true, class: 'input-group-field' %>
            <div class="input-group-button">
              <%= f.submit "Post Kudo", class: 'button success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns kudos-list">
        <% @kudos.each do |kudo| %>
          <%= render partial: 'shared/kudo_card', locals: { kudo: kudo } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
