<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'button success' %>
        <%= link_to('Cancel', root_path, class: 'button') %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
