<div class="row profile-header">
  <div class="small-8 small-offset-2 columns">
    <h2><%= resource.name %></h2>
    <%= link_to('View your profile', '#') %>
  </div>
</div>

<div class="row profile-avatar">
  <div class="small-2 small-offset-2 columns">
    <%= render partial: 'shared/user_avatar', locals: { user: resource } %>
  </div>
  <div class="small-6 columns">
    <p><%= resource.email %></p>
  </div>
</div>

<div class="row">
  <div class="small-8 small-offset-2 columns">
    <%= render partial: 'shared/error_messages_for', locals: { object: resource } %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <h4>Notification Preferences</h4>
      <div class="field">
        <fieldset>
          <legend>How often would you like to receive notifications?</legend>
          <div><input type="radio" name="user[notification_frequency]" value="all" id="freq-all" <%= "checked=\"checked\"" if resource.notification_frequency.nil? || resource.notification_frequency == 'all' %>><label for="freq-all">All</label></div>
          <div><input type="radio" name="user[notification_frequency]" value="mentions" id="freq-mentions" <%= "checked=\"checked\"" if resource.notification_frequency == 'mentions' %>><label for="freq-mentions">Only when you receive a new kudo</label></div>
          <div><input type="radio" name="user[notification_frequency]" value="none" id="freq-none" <%= "checked=\"checked\"" if resource.notification_frequency == 'none' %>><label for="freq-none">None</label></div>
        </fieldset>
      </div>

      <div class="field">
        <fieldset>
          <legend>How should we send the notifications?</legend>
          <div><input type="radio" name="user[notification_method]" value="email" id="method-email" <%= "checked=\"checked\"" if resource.notification_method.nil? || resource.notification_method == 'email' %>><label for="freq-all">Email</label></div>
          <div><input type="radio" name="user[notification_method]" value="text" id="method-text" <%= "checked=\"checked\"" if resource.notification_method == 'text' %>><label for="freq-mentions">Text</label></div>
        </fieldset>
      </div>

      <div class="field">
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number %>
      </div>

      <h4>Profile</h4>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <fieldset class="fieldset">
        <div class="field">
          <%= f.label :password do %>
            Password <i>(leave blank if you don't want to change it)</i>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </fieldset>

      <div class="field">
        <%= f.label :current_password do %>
          Current password <i>(we need your current password to confirm your changes)</i>
        <% end %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'button success' %>
        <%= link_to('Cancel', root_path, class: 'button') %>
      </div>
    <% end %>
  </div>
</div>
