<div class="row">
  <div class="small-12 columns">
    <div class="callout kudo-card" id="kudo-<%= kudo.id %>">
      <h5><%= kudo.creator.name %> to <%= kudo.recipient.name %></h5>
      <div class="date">
        <%= distance_of_time_in_words_to_now(kudo.created_at) %> ago
      </div>
      <blockquote><%= kudo.message %></blockquote>
      <%= render partial: 'shared/kudo_thumbs_up', locals: { kudo: kudo } %>
    </div>
  </div>
</div>
