<div class="row">
  <div class="small-12 columns">
    <div class="callout kudo-card" id="kudo-<%= kudo.id %>">
      <div class="row">
        <div class="small-2 columns">
          <%= render partial: 'shared/user_avatar', locals: { user: kudo.recipient } %>
        </div>
        <div class="small-10 columns">
          <div class="row">
            <div class="small-12 columns">
              <h5><%= kudo.recipient.name %></h5>
              <blockquote><%= kudo.message %></blockquote>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="float-left">
                <i class="fi-torso"></i>
                <%= kudo.creator.name %>
                <%= distance_of_time_in_words_to_now(kudo.created_at) %> ago
              </div>
              <div class="controls float-right">
                <%= render partial: 'shared/kudo_flag_inappropriate', locals: { kudo: kudo } %>
                <%= render partial: 'shared/kudo_thumbs_up', locals: { kudo: kudo } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
