<div class="row">
  <div class="small-12 columns">
    <div class="callout kudo-card" id="kudo-<%= kudo.id %>">
      <div class="row">
        <div class="small-2 columns">
          <%= render partial: 'shared/user_avatar', locals: { user: kudo.recipient } %>
        </div>
        <div class="small-10 columns">
          <h5><%= link_to(kudo.creator.name, user_path(kudo.creator)) %> to <%= link_to(kudo.recipient.name, user_path(kudo.recipient)) %></h5>
          <div class="date">
            <%= distance_of_time_in_words_to_now(kudo.created_at) %> ago
          </div>
          <blockquote><%= kudo.message %></blockquote>
          <%= render partial: 'shared/kudo_thumbs_up', locals: { kudo: kudo } %>
        </div>
      </div>
    </div>
  </div>
</div>
