<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h2>Create your account</h2>
    <%= render partial: 'shared/error_messages_for', locals: { object: resource } %>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%= f.hidden_field :invitation_token %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <% if f.object.class.require_password_on_accepting %>
      <p><%= f.label :password %>
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></p>
      <% end %>

      <div class="actions">
        <%= f.submit "Create Account", class: 'button success' %>
        <%= link_to('Cancel', root_path, class: 'button') %>
      </div>
    <% end %>
  </di  v>
</div>
