<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h2><%= t "devise.invitations.new.header" %></h2>
    <%= render partial: 'shared/error_messages_for', locals: { object: resource } %>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>

      <% resource.class.invite_key_fields.each do |field| -%>
        <p><%= f.label field %>
        <%= f.text_field field %></p>
      <% end -%>

      <div class="actions">
        <%= f.submit "Send Invite", class: 'button success' %>
        <%= link_to('Cancel', root_path, class: 'button') %>
      </div>
    <% end %>
  </div>
</div>
