<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>DHS Flash</title>
    <title><%= content_for?(:title) ? yield(:title) : 'DHS Flash' %></title>
    <%= stylesheet_link_tag('application') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='top-bar'>
      <div class='top-bar-left'>
        <ul class='menu'>
          <li class='menu-text'>DHS FLASH</li>
        </ul>
      </div>
      <div class='top-bar-right'>
        <ul class='menu'>
          <% if current_user %>
            <% if current_user.has_role?(:admin) %>
              <li class='menu-text'>
                <%= link_to('Manage Users', admin_users_path) %>
              </li>
            <% end %>
            <li class='menu-text'>
              <%= link_to('Account', edit_user_registration_path) %>
            </li>
            <li class='menu-text'>
              <%= link_to('Log Out', destroy_user_session_path, method: 'delete') %>
            </li>
          <% else %>
            <li class='menu-text'>
              <%= link_to('Sign Up', new_user_registration_path) %>
            </li>
            <li class='menu-text'>
              <%= link_to('Log In', new_user_session_path) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='row' id='main-content'>
      <div class='medium-8 medium-offset-2'>
        <% if alert.present? %>
          <div class="callout alert">
            <p class='alert'><%= alert %></p>
          </div>
        <% end %>
        <% if notice.present? %>
          <div class="callout">
            <p class='notice'><%= notice %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='medium-8 medium-offset-2'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
