<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#31b67b">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-startup-image" href="/apple-startup-image.png">
    <meta name="apple-mobile-web-app-title" content="DHS">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <title>DHS Kudos</title>
    <title><%= content_for?(:title) ? yield(:title) : 'DHS Kudos' %></title>
    <%= stylesheet_link_tag('application') %>
    <%= javascript_include_tag('application') %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='top-bar'>
      <div class='top-bar-left'>
        <ul class='menu'>
          <li class='menu-text'>
            <%= link_to('DHS Kudos', current_user ? dashboard_path : root_path) %>
          </li>
        </ul>
      </div>
      <div class='top-bar-right'>
        <% if current_user %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="<%= user_path(current_user) %>">
                <i class="fi-torso"></i>
                <%= current_user.name %>
              </a>
              <ul class="menu">
                <% if current_user.has_role?(:admin) %>
                  <li>
                    <%= link_to('Manage Users', admin_users_path) %>
                  </li>
                <% end %>
                <li>
                  <%= link_to('Account', edit_user_registration_path) %>
                </li>
                <li>
                  <%= link_to('Profile', user_path(current_user)) %>
                </li>
                <li>
                  <%= link_to('Log Out', destroy_user_session_path, method: 'delete') %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="menu">
            <li class="menu-text">
              <%= link_to('Log In', new_user_session_path) %>
            </li>
            <li class='menu-text'>
              <%= link_to('Sign Up', new_user_registration_path) %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class='row' id='main-content'>
      <div class='small-12'>
        <% if alert.present? %>
          <div class="callout alert">
            <p class='alert'><%= alert %></p>
          </div>
        <% end %>
        <% if notice.present? %>
          <div class="callout">
            <p class='notice'><%= notice %></p>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
